.ClearAllButton {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #EF6B4A;
    background-color: transparent;
    border: 0;
}
.ClearAllButton:hover {
    cursor: pointer;
}