.BooksPageContent {
   background: linear-gradient(
    to bottom,         
    #0909371A,          
    #fff         
  );
    padding: 40px 0 22px 0;
}
.BooksPageContentTitle {
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  font-weight: 700;
}