.LoadMoreButton {
    width: 400px;
    height: 60px;
    background-color: #EF6B4A;
    border-radius: 4px;
    border: 0;
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}